* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Arial, sans-serif;
  position: relative;
}

aside {
  /* position: absolute; */
  left: -100px;
  /* opacity: 0; */
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  text-align: left;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 200px;
  background-color: hsl(194, 98%, 57%);
  z-index: 1400 !important;
}

aside:hover {
  opacity: 1;
  left: 0px;
}

.bg {
  margin-top: 5px;
  margin-left: 10px;
  border-radius: 10px;
  height: 65px;
  width: 180px;
}

header {
  background: linear-gradient(
      to right,
      #fcbaba,
      #e49f5a,
      #ffff5c,
      #b0ffb0,
      #6262dd,
      #c47cf8,
      #f6e1ff
    )
    80%;

  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid lightgray;
}

footer {
  text-align: center;
}

footer p {
  color: gray;
}

main {
  padding: 5px;
}

header,
.main-head,
.social-links,
.toolbar {
  display: flex;
  align-items: center;
}

.side-menu {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.side-menu a {
  display: inline-block;
  padding: 10px 20px;
  background-color: hsl(17, 100%, 63%);
  color: #ffffff;
  text-align: left;
  text-decoration: none;
  border: rgb(0, 60, 255);
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.side-menu a:hover {
  background-color: #4762fc;
}

.side-menu a:active {
  background-color: #dd53ff;
}

.main-body-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 200px;
}

/* ############# */

.main-head img {
  width: 70px;
  height: 70px;
  margin-left: 20px;
}

.social-links img {
  width: 30px;
  height: 30px;
  margin: 0px 10px;
}

.social-links {
  margin-right: 30px;
}

.main-body-wrapper main {
  overflow: auto;
}

.search {
  position: relative;
  margin: 0px 25px;
}
.search input {
  padding: 12px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
}

.search #i-search {
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translateY(-50%);
  cursor: pointer;
}

.navlogin {
  background-color: hsl(0, 0%, 99%);
  border: 1px solid black;
  overflow: hidden;
  border-radius: 5px;
  float: right;
  margin-left: 300px;
}

.navlogin a {
  float: right;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 17px;
  float: right;
  height: 40px;
}

.navlogin a:hover {
  background-color: #61b3ff;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  float: right;
}

/* .animate-txt h5 {
  font-family: "Source Code Pro", monospace;
  overflow: hidden;
  border-right: 0.15em solid;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 1.3s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: orange;
  }
} */

/* Page Top Button Styles */

.page-top-button {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 10px;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
}

.page-top-button:hover {
  background-color: #0056b3;
}
